<hr>
<form action="/recipes" class="form-group" method="post">
  <input type="hidden" name="name" value="New Recipe">
  <button type="submit" name="button">Add Recipe</button>
</form>
<hr>
<a href="/recipes"><button>See All Recipes</button></a>
<hr>
<a href="/ingredients"><button>Filter Recipes by Ingredient</button></a>
