<h1>Recipe Box</h1>
<hr>
<form action="/recipes" class="form-group" method="post">
  <input type="text" name="name" value="">
  <button type="submit" name="button">Add Recipe</button>
</form>
<hr>
<a href="/recipes">See All Recipes</a>
