<hr>
<% if @recipes.any?() %>
<ul>
  <% @recipes.each() do |recipe| %>
    <li><a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a></li>
  <% end %>
</ul>
<% else %>
    <p>There are no recipes yet!</p>
    <a href="/">Go here to add a recipe</a>
<% end %>
