<h1>Recipe: <%= @recipe.name() %></h1>

<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input type='hidden' name="_method" value="patch">
  <label for="recipe_name"> Name your recipe </label>
  <input text="text" name="recipe_name">
  <button type="submit">Name</button>
</form>

<hr>

<% @ingredients %>
<h3> Here are the ingredients in your recipe </h3>
<ul>
<% @ingredients.each() do |ingredient| %>
  <li><%= ingredient.ingredient() %></li>
<% end %>
</ul>

<form action="/ingredients" method="post">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id() %>">
  <input type="text" name="ingredient">
  <button type="submit">Add Ingredient</button>
</form>

<hr>
<a href="/">Home (Add a New Recipe)</a>
<br>
<a href="/recipes">See All Recipes</a>
